<h1 class="text-center">{{partner.firstName}} {{partner.lastName}} <small>ID: {{partner.objectId}}</small></h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                coolness
            </th>
            <th class="text-center">
                initiative
            </th>
            <th class="text-center">
                kindness
            </th>
            <th class="text-center">
                lazyness
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center h1">
                {{partner.coolness}}
            </td>
            <td class="text-center h1">
                {{partner.initiative}}
            </td>
            <td class="text-center h1">
                {{partner.kindness}}
            </td>
            <td class="text-center h1">
                {{partner.lazyness}}
            </td>
        </tr>
    </tbody>
</table>
<hr/>


<!--<dl ng-repeat="(key, value) in partner | orderBy:'firstName'" class="dl-horizontal"-->
    <!--ng-class="key == 'firstName' || key == 'createdAt' || key == 'lastName' || key == 'objectId' || key == 'updatedAt'  ? 'text-info':'text-warning'">-->
    <!--<dt>{{key}}</dt>-->
    <!--<dd><kbd>{{value}}</kbd></dd>-->
<!--</dl>-->
<button class="btn btn-primary" ng-click="getDodos(partner)">Match dodos</button>
<hr/>

  <div ng-repeat="dodo in dodos" class="panel panel-default">
      <div class="panel-body">
          <h1>{{dodo.title}} <small>ID: {{dodo.objectId}}</small></h1>
          {{dodo.description}}<br/>
          {{dodo}}
      </div>
  </div>

