<!--<main_menu ng-show=""></main_menu>-->

<div class="myBlock myBlock-sm">
    <div class="page-header">
        <h1>Logga in
            <small>Logga in med dina uppgifter.</small>
        </h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label >Användarnamn</label>
                    <input type="text" ng-model="input.username" class="form-control" placeholder="Ex. Jan Banan">
                </div>
                <div class="form-group">
                    <label>Lösenord</label>
                    <input type="password" ng-model="input.password" class="form-control" placeholder="Ex. 67823ykmbj">
                </div>
                <div class="alert alert-success text-center" role="alert" ng-show="input.response">
                    <span class="lead">Grattis <strong>{{input.username}}</strong>, du är nu inloggad!</span>
                    <br>
                    <button class="btn btn-default" ng-click="go('/user/profile');">Continue</button>
                </div>
                <button type="submit" ng-click="login()" class="btn btn-primary" ng-hide="input.response">Logga in
                </button>
                <a href="#/user/register" class="btn btn-default" ng-hide="input.response">Skapa ett konto</a>
            </form>
        </div>
    </div>
    <div class="panel-footer" ng-show="input.response">
        <dl ng-repeat="(key, value) in input.response" class="dl-horizontal">
            <dt>{{key}}</dt>
            <dd><kbd>{{value}}</kbd></dd>
        </dl>
    </div>
</div>

