<span ng-hide="user" class="h1" style="width: 100px; text-align: center; margin: auto; margin-top:50px; display: block;">Laddar...</span>
<div ng-show="user">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <img class="media-object img-thumbnail" src="{{user.profileImageURL}}"
                         ng-src="{{user.profileImage.url}}" alt="...">
                </div>
                <div class="col-md-9">
                    <h1 class="media-heading">{{user.firstName}} {{user.lastName}}
                        <small>{{user.username}}</small>
                        </h4>

                        <a href="mailto:{{user.email}}"></a>
                        <small class="text-muted">ID: {{user.objectId}}</small>
                </div>
            </div>
        </div>
    </div>
</div>




